---
import Header from "./Header.astro";
---

<body
  class="min-h-screen font-sans m-0 p-0 text-left bg-gradient-to-t from-slate-200 to-white text-lg lg:text-xl break-words text-slate-800"
>
  <Header />
  <div class="min-h-max w-screen-md max-w-screen-lg p-4 mx-auto px-12 py-4">
    <slot />
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>

</body>
